body {
    background-image: url(artem-verbo-rAyIvNqlwCY-unsplash.jpg);
    background-size: cover ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(168, 168, 168, 0.418);
    padding: 40px;
    border-radius: 20px;
}

    h1 {
    font-family: 'Staatliches', cursive;
    font-weight: 300;
    }

    form {
display: flex;
padding: 10px;
width: 450px;
justify-content: space-between;

    }

    button{
        border-radius: 8px;
        border-width: 1px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    
button:hover {
    background-color: rgb(221, 221, 221);
    box-shadow: 0 10px 15px 0px rgba(0,0,0,0.4);
    cursor: pointer;

}

table{
    
    border-style: solid ;
    background-color: rgba(172, 204, 199, 0.514);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

td p{
    font-weight: 400;
    text-align: center;
    text-justify: auto ;
    color: rgb(0, 0, 0);
}
 td{
border-style: outset;
 }
th {
    width: 200px;
    background-color: rgb(248, 89, 89);
}

@media screen and (max-width: 600px){

    h1{
     text-align: center;
    }

    form {
        min-height: 100px;
        flex-direction:column;
        max-width: 180px;
        align-content: space-between;
        /* align-content: stretch;     */
     
}
}